<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta -->
    <meta charset="utf-8" />
    <title>{{fileName}}</title>

    <!-- styles -->
    <link rel="stylesheet" href="../node_modules/easy-build/node_modules/mocha/mocha.css" />
  </head>

  <body>

    <!-- content -->
    <div id="workboard" style="position: absolute;"></div>
    <div id="mocha"></div>

    <!-- tests -->
    <script src="../node_modules/easy-build/node_modules/requirejs/require.js"></script>
    <script src="../node_modules/easy-build/node_modules/easy-amdtest/dist/easy-amdtest.js"></script>
    <script>
      var testSuite = new EasyAMDTest({
        baseUrl: '../src',
        urlArgs: 'bust=' + (new Date()).getTime(),
        paths: {{{paths}}},
        shim: {{{shims}}}
      }).run({
        name: 'mocha',
        tests: {{{tests}}}
      });
    </script>

  </body>
</html>